/deep/ figure.mat-figure {
  align-items: flex-start !important;
  justify-content: flex-start !important;
}

$border: #c3d9ff 1px solid;
.grid-list-evolution {
  margin: 10px;

  .sub-grid-evolution {
    border-top: $border;
    border-left: $border;

    .lign:nth-child(1) {
      font-weight: bold;
    }
    .lign {
      border-bottom: $border;
      border-right: $border;

      .cell {
        border-right: $border;
        padding: 10px;
        width: 68px;
        text-align: center;
      }

      .label {
        text-align: left;
        font-weight: bold;
        width: 10%;
      }
    }
  }
}
