<form [formGroup]="tabForm">
  <mat-grid-list [cols]="10" rowHeight="50px">

    <h3 *ngIf="!patient.id" class="header-new-patient">Nouveau Patient</h3>

    <mat-grid-tile [colspan]="1" [rowspan]="21">
      TODO NOM, Prénom, Age
    </mat-grid-tile>

    <mat-grid-tile [colspan]="9" [rowspan]="1" class="border-cell" class="row">
      Date
      <div *ngFor="let d of date">
        {{d}}
      </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="9" [rowspan]="1" class="border-cell">
      Ligne Taille
    </mat-grid-tile>

    <mat-grid-tile [colspan]="9" [rowspan]="1" class="border-cell">
      <div #heightChart>Ligne Graphique Taille</div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="9" [rowspan]="1" class="border-cell">
      Ligne Poids
    </mat-grid-tile>

    <mat-grid-tile [colspan]="9" [rowspan]="1" class="border-cell">
      Ligne Graphique Poids
    </mat-grid-tile>

    <mat-grid-tile [colspan]="9" [rowspan]="1" class="border-cell">
      Ligne Plis B
    </mat-grid-tile>

    <mat-grid-tile [colspan]="9" [rowspan]="1" class="border-cell">
      Ligne Graphique Plis B
    </mat-grid-tile>

    <mat-grid-tile [colspan]="9" [rowspan]="1" class="border-cell">
      Ligne Plis T
    </mat-grid-tile>

    <mat-grid-tile [colspan]="9" [rowspan]="1" class="border-cell">
      Ligne Graphique Plis T
    </mat-grid-tile>

    <mat-grid-tile [colspan]="9" [rowspan]="1" class="border-cell">
      Ligne Plis Sous
    </mat-grid-tile>

    <mat-grid-tile [colspan]="9" [rowspan]="1" class="border-cell">
      Ligne Graphique Plis Sous
    </mat-grid-tile>

    <mat-grid-tile [colspan]="9" [rowspan]="1" class="border-cell">
      Ligne Plis Sup
    </mat-grid-tile>

    <mat-grid-tile [colspan]="9" [rowspan]="1" class="border-cell">
      Ligne Graphique Plis Sup
    </mat-grid-tile>

    <mat-grid-tile [colspan]="9" [rowspan]="1" class="border-cell">
      Ligne MG(%)
    </mat-grid-tile>

    <mat-grid-tile [colspan]="9" [rowspan]="1" class="border-cell">
      Ligne Graphique MG(%)
    </mat-grid-tile>

    <mat-grid-tile [colspan]="9" [rowspan]="1" class="border-cell">
      Ligne MG(kg)
    </mat-grid-tile>

    <mat-grid-tile [colspan]="9" [rowspan]="1" class="border-cell">
      Ligne Graphique MG(kg)
    </mat-grid-tile>

    <mat-grid-tile [colspan]="9" [rowspan]="1" class="border-cell">
      Ligne MM(%)
    </mat-grid-tile>

    <mat-grid-tile [colspan]="9" [rowspan]="1" class="border-cell">
      Ligne Graphique MM(%)
    </mat-grid-tile>

    <mat-grid-tile [colspan]="9" [rowspan]="1" class="border-cell">
      Ligne MM(kg)
    </mat-grid-tile>

    <mat-grid-tile [colspan]="9" [rowspan]="1" class="border-cell">
      Ligne Graphique MM(kg)
    </mat-grid-tile>

    <mat-grid-tile [colspan]="9" [rowspan]="1" class="border-cell">
      Tour de taille
    </mat-grid-tile>

    <mat-grid-tile [colspan]="9" [rowspan]="1" class="border-cell">
      Ligne Graphique tour de taille
    </mat-grid-tile>

    <mat-grid-tile [colspan]="9" [rowspan]="1" class="border-cell">
      Tour de hanche
    </mat-grid-tile>

    <mat-grid-tile [colspan]="9" [rowspan]="1" class="border-cell">
      Ligne Graphique tour de hanche
    </mat-grid-tile>

    <mat-grid-tile [colspan]="9" [rowspan]="1" class="border-cell">
      Tour de pec
    </mat-grid-tile>

    <mat-grid-tile [colspan]="9" [rowspan]="1" class="border-cell">
      Ligne Graphique tour de pec
    </mat-grid-tile>

    <mat-grid-tile [colspan]="9" [rowspan]="1" class="border-cell">
      Tour de bras
    </mat-grid-tile>

    <mat-grid-tile [colspan]="9" [rowspan]="1" class="border-cell">
      Ligne Graphique tour de bras
    </mat-grid-tile>

    <mat-grid-tile [colspan]="9" [rowspan]="1" class="border-cell">
      Tour de cuisse
    </mat-grid-tile>

    <mat-grid-tile [colspan]="9" [rowspan]="1" class="border-cell">
      Ligne Graphique tour de cuisse
    </mat-grid-tile>

  </mat-grid-list>

  <button mat-raised-button [disabled]="tabForm.pristine" color="primary" (click)="savePatient()" class="save">
    <mat-icon>person_add</mat-icon>
    <span class="align-middle" *ngIf="!patient.id"> Sauvegarder le nouveau patient</span>
    <span class="align-middle" *ngIf="patient.id"> Sauvegarder les changements</span>
  </button>

</form>
