/deep/ figure.mat-figure {
  align-items: flex-start !important;
  justify-content: flex-start !important;
}

$border: #c3d9ff 1px solid;
.grid-list-evolution {
   .right-grid {
     margin-left: 20px;

    .sub-grid-evolution {
      overflow: hidden;
      border-top: $border;
      border-left: $border;

      .lign:nth-child(1) {
        font-weight: bold;
      }
      .lign {
        border-right: $border;
        border-bottom: $border;
        height: 24px;
        text-align: center;
        .cell {
          padding: 7px 0;
          width: 89px;
          text-align: center;
        }
        .data {
          border-right: 1px dodgerblue dashed;
        }
        .button-remove {
          border-right: $border;
        }
        .label {
          font-weight: bold;
          width: 180px;
          text-align: right;
          padding-right: 5px;
        }
        .info {
          font-weight: bold;
          color: red;
        }
      }
      .lign:last-child {
        height: 30px;
      }
    }
  }
}
