<form [formGroup]="tabForm">

  <h3 *ngIf="!patient.id" class="header-new-patient">Nouveau Patient</h3>

  <mat-grid-list [cols]="20" [rowHeight]="820" class="grid-list-evolution">

    <mat-grid-tile [colspan]="2" [rowspan]="1" class="left-column">
      <div class="column">
        <mat-form-field>
          <input matInput placeholder="Nom" [value]="patient.name" disabled>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Prénom" [value]="patient.firstname" disabled>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Sexe" [value]="patient.sex" disabled>
        </mat-form-field>

        <mat-form-field>
          <input #age matInput placeholder="Age" [value]="patient.birthdate | calculateAge" disabled>
        </mat-form-field>

        <div *ngIf="age.value < 18">
          <mat-icon color="warn">warning</mat-icon> <span class="align-super warn">Patient de moins de 18 ans => Se reporter à la courbe de croissance pour l'IMC</span>
        </div>

        <button mat-raised-button *ngIf="patient.id" [disabled]="tabForm.pristine" color="primary" (click)="savePatient()" class="save">
          <span class="align-middle"> Sauvegarder </span>
        </button>
      </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="17" [rowspan]="1" class="right-grid">
      <mat-tab-group [selectedIndex]="selectedIndexInside" (selectedIndexChange)="onSelectedIndexInside($event)">
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="align-super">Evolution</span>
          </ng-template>
          <div class="column sub-grid-evolution">
            <div class="row lign" *ngFor="let lign of formattedPatientData">
              <div class="cell label">{{lign.label}}</div>
              <div class="cell data" [ngClass]="lign.class">
                <input matInput type="{{lign.title === 'date' ? 'string' : 'number'}}"
                       formControlName="{{lign.title}}" (keyup)="updateData()" [disabled]="lign.disabled">
              </div>

              <div *ngFor="let data of lign.data" class="cell data" [ngClass]="data.class">
                {{data.value}}
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab [disabled]="!showCourbeCroissance">
          <ng-template mat-tab-label>
            <span class="align-super">Courbe de croissance</span>
          </ng-template>
          <div class="tab-content">
            <div #courbecorpulence></div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-grid-tile>
  </mat-grid-list>

</form>
