<mat-card>
  <mat-card-content>
    <mat-tab-group [selectedIndex]="selectedIndex" (selectedIndexChange)="onSelectedIndex($event)">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>search</mat-icon> <span class="align-super"> Rechercher un patient</span>
        </ng-template>
        <div class="tab-content">
          <app-recherche-patient (outSelectedIndex)="onSelectedIndex($event)"
                                 (outSearchPatient)="onSearchPatient($event)" [onSearch]="onSearch"></app-recherche-patient>
        </div>
      </mat-tab>
      <mat-tab [disabled]="selectedIndex === 0">
        <ng-template mat-tab-label>
          <mat-icon>person</mat-icon> <span class="align-super"> Ma fiche patient</span>
        </ng-template>
        <div class="tab-content">
          <app-fiche-patient (outSelectedIndex)="onSelectedIndex($event)" [patient]="searchedPatient"></app-fiche-patient>
        </div>
      </mat-tab>
      <mat-tab [disabled]="selectedIndex === 0">
        <ng-template mat-tab-label>
          <mat-icon>trending_up</mat-icon> <span class="align-super"> Mon évolution</span>
        </ng-template>
        <div class="tab-content">
          <app-mon-evolution (outSelectedIndex)="onSelectedIndex($event)" [patient]="searchedPatient"></app-mon-evolution>
        </div>
      </mat-tab>
      <mat-tab [disabled]="selectedIndex === 0">
        <ng-template mat-tab-label>
          <mat-icon>equalizer</mat-icon> <span class="align-super"> Ma balance énergétique</span>
        </ng-template>
        <div class="tab-content">
          <app-ma-balance-energetique></app-ma-balance-energetique>
        </div>
      </mat-tab>
      <mat-tab [disabled]="selectedIndex === 0">
        <ng-template mat-tab-label>
          <mat-icon>info</mat-icon> <span class="align-super"> Mon enquête alimentaire</span>
        </ng-template>
        <div class="tab-content">
          <app-mon-enquete-alimentaire></app-mon-enquete-alimentaire>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
