<mat-card>
  <mat-card-content>
    <mat-tab-group [selectedIndex]="selectedIndex" (selectedIndexChange)="onSelectedIndex($event)">
      <mat-tab label="Rechercher un patient">
        <div class="tab-content">
          <app-recherche-patient (onSelectedIndex)="onSelectedIndex($event)" (onSearchPatient)="onSearchPatient($event)"></app-recherche-patient>
        </div>
      </mat-tab>
      <mat-tab label="Ma fiche patient">
        <div class="tab-content">
          <app-fiche-patient [patient]="searchedPatient"></app-fiche-patient>
        </div>
      </mat-tab>
      <mat-tab label="Mon évolution">
        <div class="tab-content">
          <app-mon-evolution></app-mon-evolution>
        </div>
      </mat-tab>
      <mat-tab label="Ma balance énergétique">
        <div class="tab-content">
          <app-ma-balance-energetique></app-ma-balance-energetique>
        </div>
      </mat-tab>
      <mat-tab label="Mon enquête alimentaire">
        <div class="tab-content">
          <app-mon-enquete-alimentaire></app-mon-enquete-alimentaire>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
