figure.mat-figure {
  align-items: flex-start !important;
  justify-content: flex-start !important;
}

// SPORT
.sport-retrait {
  margin-left: -10px;
  min-width: 45px!important;
}
.sport-input {
  min-width: 175px;
}
.sport-hour-input {
  min-width: 55px;
  padding-right: 55px;
}

// NOTES
.notes-start > ::ng-deep figure.mat-figure {
  justify-content: flex-start !important;
}
.notes {
  width: 100%!important;
}

// PAIEMENT
/deep/.mat-tab-label, /deep/.mat-tab-label-active{
  padding: auto!important;
  margin: auto!important;
}
.mat-table {
  overflow: auto;
  max-height: 500px;
}

// Bouton save
.save {
  float: right;
}
