<form [formGroup]="tabForm">
  <mat-grid-list cols="4" rowHeight="1:0.8">

    <h3 *ngIf="!patient.id" class="header-new-patient">Nouveau Patient</h3>
    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <div class="column">
        <mat-form-field>
          <mat-select placeholder="Groupe Patient" formControlName="groupPatient" multiple>
            <mat-option *ngFor="let group of groupPatient" [value]="group">{{group}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Civilité" formControlName="title">
            <mat-option *ngFor="let title of titlePatient" [value]="title">{{title}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Nom" formControlName="name">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Prénom" formControlName="firstname">
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Sexe" formControlName="sex">
            <mat-option *ngFor="let sex of sexPatient" [value]="sex">{{sex}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="birthdatePicker" placeholder="Anniversaire" formControlName="birthdate">
          <mat-datepicker-toggle matSuffix [for]="birthdatePicker"></mat-datepicker-toggle>
          <mat-datepicker #birthdatePicker startView="year" [startAt]="startBirthDate"></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Age" [value]="tabForm.get('birthdate').value | calculateAge">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Profession" formControlName="profession">
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Situation familiale" formControlName="maritalStatus">
            <mat-option *ngFor="let status of maritalStatus" [value]="status">{{status}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="creationPicker" placeholder="Créée le" formControlName="creationDate">
          <mat-datepicker-toggle matSuffix [for]="creationPicker"></mat-datepicker-toggle>
          <mat-datepicker #creationPicker startView="year" [startAt]="startToday"></mat-datepicker>
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="column">
        <mat-form-field>
          <input type="tel" matInput placeholder="Téléphone fixe" formControlName="landline">
        </mat-form-field>

        <mat-form-field>
          <input type="tel" matInput placeholder="Téléphone portable" formControlName="mobile">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Moyen de contact préféré" formControlName="favoriteContactType">
            <mat-option *ngFor="let type of favoriteContactType" [value]="type">{{type}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="column">
        <mat-form-field>
          <textarea matInput placeholder="Maladie métabolique" matTextareaAutosize matAutosizeMinRows="2"
                    matAutosizeMaxRows="5" formControlName="metabolism"></textarea>
        </mat-form-field>

        <mat-form-field>
          <textarea matInput placeholder="Antécédent" matTextareaAutosize matAutosizeMinRows="2"
                    matAutosizeMaxRows="5" formControlName="healthHistory"></textarea>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Médecin Traitant" formControlName="regularDoctor">
        </mat-form-field>

        <mat-form-field>
          <textarea matInput placeholder="Autres" matTextareaAutosize matAutosizeMinRows="2"
                    matAutosizeMaxRows="5" formControlName="healthNote"></textarea>
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>add</mat-icon>
            <span class="align-super"> Nouveau</span>
          </ng-template>
          <div class="column">
            <mat-form-field>
              <input matInput [matDatepicker]="consultationPicker" placeholder="Date"
                     formControlName="consultationDate">
              <mat-datepicker-toggle matSuffix [for]="consultationPicker"></mat-datepicker-toggle>
              <mat-datepicker #consultationPicker startView="year" [startAt]="startToday"></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="number" placeholder="Montant consultation" formControlName="consultationCost">
              <span matSuffix>€</span>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Mode de réglement" formControlName="consultationPaymentMethod">
                <mat-option *ngFor="let method of paymentMethod" [value]="method">{{method}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Raison tarification" formControlName="consultationTarificationType">
            </mat-form-field>
          </div>
        </mat-tab>

        <mat-tab [disabled]="!patient?.consultation[0]?.cost">
          <ng-template mat-tab-label>
            <mat-icon>history</mat-icon>
            <span class="align-super"> Historique</span>
          </ng-template>
          <div class="column">
            <mat-table #table [dataSource]="dataSource" matSort matSortActive="date" matSortDisableClear
                       matSortDirection="desc">

              <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> Date</mat-header-cell>
                <mat-cell *matCellDef="let consultation">
                  <button type="button" mat-button mat-raised-button color="warn" (click)="removeConsultation(consultation)">
                    <mat-icon>delete</mat-icon>
                  </button>
                  {{consultation.date | date:'dd/MM/yyyy'}}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="cost">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Montant</mat-header-cell>
                <mat-cell *matCellDef="let consultation"> {{consultation.cost}} €</mat-cell>
              </ng-container>

              <ng-container matColumnDef="paymentMethod">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Mode de réglement</mat-header-cell>
                <mat-cell *matCellDef="let consultation"> {{consultation.paymentMethod}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="tarificationType">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Raison tarification</mat-header-cell>
                <mat-cell *matCellDef="let consultation"> {{consultation.tarificationType}}</mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumnsConsultation"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnsConsultation;"></mat-row>
            </mat-table>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="column">
        <div class="row" *ngFor="let activity of activities">
          <button type="button" class="sport-retrait" mat-button color="primary" (click)="removeActivity(activity)">
            <mat-icon>delete</mat-icon>
          </button>
          <mat-form-field class="sport-input">
            <input matInput placeholder="Sport" #sportTitle [value]="activity.title"
                   formControlName="activityTitle" (keyup)="updateActivityTitle(activity, sportTitle.value)">
          </mat-form-field>
          <mat-form-field class="sport-hour-input">
            <input matInput placeholder="H / Sem." class="break-word" #sportHours [value]="activity.hoursPerWeek"
                   formControlName="activityHoursPerWeek" (keyup)="updateActivityHours(activity, sportHours.value)">
          </mat-form-field>
        </div>
        <div class="row">
          <button type="button" mat-raised-button (click)="addNewActivity()" color="primary">
            <mat-icon>add</mat-icon>
            <span class="align-middle"> Ajouter un sport</span>
          </button>
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="1" class="notes-start">
      <div class="column notes">
        <mat-form-field>
          <textarea matInput placeholder="Notes" matTextareaAutosize matAutosizeMinRows="15"
                    formControlName="freeNotes"></textarea>
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <button type="button" mat-button mat-raised-button *ngIf="patient.id" color="warn" (click)="openDialog()">
        <mat-icon>delete</mat-icon>
        <span class="align-middle"> Supprimer ce patient</span>
      </button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <button type="button" mat-raised-button (click)="addNewPayment()" color="primary" [disabled]="paymentDone">
        <mat-icon *ngIf="!paymentDone">add</mat-icon>
        <span class="align-middle warn" *ngIf="paymentDone">Paiement effectué - Penser a sauvegarder !</span>
        <span class="align-middle" *ngIf="!paymentDone">Payer consultation</span>
      </button>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <button type="submit" mat-raised-button [disabled]="tabForm.pristine && !sportIsUpdated" color="primary"
              (click)="savePatient()" class="save">
        <mat-icon>person_add</mat-icon>
        <span class="align-middle" *ngIf="!patient.id"> Sauvegarder le nouveau patient</span>
        <span class="align-middle" *ngIf="patient.id"> Sauvegarder les changements</span>
      </button>
    </mat-grid-tile>
  </mat-grid-list>

</form>
