.column {
  display: flex;
  flex-direction: column;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.cyan {
  background-color: cyan;
}

.blue {
  background-color: blue;
}
