.sport-input {
  min-width: 145px;
}

.sport-hour-input {
  min-width: 124px;
}

.notes-start > ::ng-deep figure.mat-figure {
  justify-content: flex-start !important;
}

.notes {
  width: 100%!important;
}

// PAIEMENT
/deep/.mat-tab-label, /deep/.mat-tab-label-active{
  padding: auto!important;
  margin: auto!important;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: red;
}
