$border: #c3d9ff 1px solid;
.grid-list-evolution {
  .right-grid {
    margin-left: 20px;
    .energy {
      border: $border;
      margin: 15px;
      padding: 0 10px;
    }
  }
}

.size-input {
  width: 25%;
}
